

.apps {
    text-align: center;
    padding-top: 110px;
    padding-bottom: 105px;

    &-title {
        @include property(36px, 700, Montserrat, $main-color);
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
    }
    &-desc {
        @include property(16px, 400, Montserrat, $desc-color);
        margin-top: 32px;
        margin-bottom: 70px;
        max-width: 730px;
        width: 100%;
        margin: 0 auto;
    }

    &-list {
        @include flex(flex, center, center, 27px);
        text-align: left;
        margin-bottom: 55px;

        &-item {
            max-width: 353px;
            width: 100%;
            @include flex(flex, space-between, center, 17px);

            &-wrap-first {
                @include flex(flex, center, center, _);
                // max-width: 110px;
                // width: 100%;
                padding: 10px;
                margin-bottom: 29px;
                outline: 1px solid #E0E0E0;
                border-radius: 50%;

                &-svg {
                    padding: 25px;
                    outline: 1px solid $hover-color;
                    border-radius: 50%;
                }
            }
            &-wrap-second {
                @include flex(flex, flex-end, flex-start, 12px);
                flex-direction: column;
                max-width: 226px;
                width: 100%;
                margin-top: 46px;

                .apps-list-title {
                    @include property(18px, 600, Montserrat, $main-color);
                }
                .apps-list-desc {
                    @include property(14px, 400, Montserrat, $desc-color);
                }
            }
        }
    }
}

@include phone(767px) {
    .apps {
        padding-top: 100px;
        padding-bottom: 100px;

        &-title {
            font-size: 30px;
        }
        &-desc {
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .apps-list-item-wrap-first-svg {
            padding: 15px;
            svg {
                width: 30px;
                height: 30px;
            }
        }
        .apps-list-item {
            @include flex(flex, center, center, 17px);
        }
    }
}

@include desc(1200px) {
    .apps-desc {
        margin-top: 32px;
        margin-bottom: 70px;
    }
}