
.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)), url(../../image/bkg.jpg);
    padding-top: 319px;
    padding-bottom: 335px;
    text-align: center;
    background-size: cover;

    &-desc {
        @include property(16px, 500, Montserrat, $white-color);
    }
    &-title {
        @include property(48px, 800, Montserrat, $white-color);
        margin-top: 20px;
        margin-bottom: 50px;
    }
}